<div class="content">
    <div class="form-search">
        <form action="">
            <input type="text" name="city" id="cityName" placeholder="Enter a city name..." [(ngModel)]="city" class="input-city">
            <button type="button" (click)="getWeather()" class="button-nav">Get Weather</button>
        </form>
    </div>
    <br>
    <div *ngIf="weatherData" class="row-info">
      <br>
      <button (click)="toggleMetrics()" class="button-nav">Toggle Metrics</button>

      <div  class="card-group-weather" >
        <div class="card">
          <a href="https://sh.wikipedia.org/wiki/{{weatherData.name}}" target="_blank">
          <div class="card-info">
            <h2 class="h-title-city">{{weatherData.name}}</h2>
            <h2 class="h-title-city-temp">{{getTemperature(weatherData.main.temp,tempUnit)}} {{tempUnit}}</h2>
            <br>
            <div class="city-info">
              <img src="../../assets/humidity.png" height="20px"> <p class="text-info">{{weatherData.main.humidity}}%</p>
            </div>
            <div class="city-info">
              <img src="../../assets/cloudy.png" height="20px"><p class="text-info">{{weatherData.weather[0].description}}</p>
            </div>
            <div class="city-info">
              <img src="../../assets/wind.png" height="20px"><p class="text-info">{{getWindSpeed(weatherData,windUnit)}} {{windUnit}}</p>
            </div>
          </div>
          <img class="back-img" src="../../assets/rain.jpg" alt="" *ngIf="weatherData.weather[0].main == 'Thunderstorm' || weatherData.weather[0].main =='Rain' || weatherData.weather[0].main == 'Drizzle'" >
          <img class="back-img" src="../../assets/snow.jpg" alt="" *ngIf=" weatherData.weather[0].main =='Snow' || weatherData.weather[0].main =='Sleet'">
          <img class="back-img" src="../../assets/mist.jpg" alt="" *ngIf="weatherData.weather[0].main =='Mist' || weatherData.weather[0].main =='Fog' || weatherData.weather[0].main =='Smoke' || weatherData.weather[0].main =='Haze' || weatherData.weather[0].main =='Dust' || weatherData.weather[0].main =='Sand' || weatherData.weather[0].main =='Ash' || weatherData.weather[0].main =='Squall' || weatherData.weather[0].main =='Tornado'">
          <img class="back-img" src="../../assets/clouds.jpg" alt="" *ngIf=" weatherData.weather[0].main =='Clouds'">
          <img class="back-img" src="../../assets/clear.jpg" alt="" *ngIf="weatherData.weather[0].main =='Clear' ">
        </a>
        </div>
        <div class="more-info">
          <div class="more-info-center">
            <div class="more-info-top">
              <p><span class="title-more-info">More info for: </span> <strong>{{weatherData.sys.country}}, {{weatherData.name}}</strong> </p>
            </div>
            <div class="more-info-bottom">
              <div class="more-info-left">
                <p>Min Temp: <strong>{{getTemperature(weatherData.main.temp_min,tempUnit)}} {{tempUnit}}</strong></p>
                <p>Max Temp: <strong>{{getTemperature(weatherData.main.temp_max,tempUnit)}} {{tempUnit}}</strong></p>
                <p>Feels like: <strong>{{getTemperature(weatherData.main.feels_like,tempUnit)}} {{tempUnit}}</strong></p>
              </div>
              <div class="more-info-right">
                <p>Pressure: <strong>{{weatherData.main.pressure}} hPa</strong></p>
                <p>Clouds: <strong>{{weatherData.clouds.all}} %</strong></p>
                <p>Visibility: <strong>{{weatherData.visibility}} m</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  